:root {
    --theme-color: peru;
    --theme-hover-color: rgba(205, 133, 63, 0.2);
    --add-color: rgb(15, 172, 15);
    --cancel-color: red;
}

body {
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    padding-left: 36px;
    font-size: 3rem;
    background-color: var(--theme-color);
    color: white;
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    flex-grow: 1;
}

.add:hover,
#add-todo:hover,
#add-todo-submit:hover,
#edit-todo-submit:hover {
    color: var(--add-color);
    border-color: var(--add-color); 
}

.cancel:hover,
.delete:hover,
#remove-project:hover,
#add-todo-cancel:hover,
#view-todo-cancel:hover,
#edit-todo-cancel:hover {
    color: var(--cancel-color);
    border-color: var(--cancel-color);
}

.edit:hover,
#active-project-buttons .sort:hover {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

::backdrop {
    backdrop-filter: blur(3px);
}

button:focus-visible {
    outline: none;
}

/* Sidebar */

#sidebar {
    border-right: 3px solid var(--theme-color);
    min-width: 400px;
} 

#sidebar-project-nav {
    padding: 20px;
    border-bottom: 3px solid var(--theme-color);
    font-size: 2rem;
}

#home {
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 16px;
    min-width: 100%;
    cursor: pointer;
}

#my-projects-heading {
    display: flex;
    gap: 60px;
    padding: 16px;
    align-items: center;
    cursor: default;
}

#home:hover,
#my-projects-heading:hover {
    background-color: var(--theme-hover-color);
    border-radius: 10px;
}

#add-project-btn {
    border: 2px solid;
    padding: 0 10px;
    max-height: 50px;
    background-color: transparent;
    cursor: pointer;
}

/* Projects Modals */

.project-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid var(--theme-color);
}

.project-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.project-modal label {
    font-size: 1.1rem;
}

.project-modal input {
    border: 1px solid black;
    height: 30px;
    padding: 5px;
}

.project-modal .project-heading {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-position: under;
}

.project-modal .project-title {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.project-modal .project-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-modal button {
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    width: 80px;
    padding: 8px 10px;
}

/* Projects */

#created-project-nav {
    margin: 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

.project:hover {
    background-color: var(--theme-hover-color);
    cursor: pointer;
}

.project-buttons {
    display: flex;
    gap: 10px;
}

.project button {
    width: 80px;
    padding: 6px 0;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1rem;
}

.project button:hover {
    cursor: pointer;
}

/* Active Project Container */

#active-project-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#active-project {
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

#active-project h2 {
    font-size: 1.5rem;
    min-width: 200px;
}

#active-project-buttons {
    display:flex;
    gap: 20px;
}

#active-project-buttons button {
    width: 150px;
    font-size: 1rem;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}

#todo-display {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Todo */

.todo {
    display: flex;
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--theme-hover-color);
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.info .todo-title {
    font-size: 1.2rem;
}

.info .todo-desc {
    font-size: 1rem;
}

.todo-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 16px;
}

.todo-buttons button {
    width: 80px;
    padding: 5px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

.view:hover {
    color: lightseagreen;
    border-color: lightseagreen;
}

.low {
    border-left: 8px solid green;
}

.medium {
    border-left: 8px solid yellow;
}

.high {
    border-left: 8px solid red;
}

.completed {
    text-decoration: line-through;
}

/* Todo Modals */

.todo-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid var(--theme-color);
}

.todo-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.todo-modal .todo-heading {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-position: under;
}

.todo-modal form label {
    font-size: 1.1rem;
}

.todo-modal form > div:not(:first-child, :last-child, :nth-last-child(2)){
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.todo-completed {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-modal form input,
.todo-modal form select {
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    background-color: transparent;
}

.todo-modal form textarea {
    border: 1px solid black;
    padding: 10px;
}

.todo-modal .todo-modal-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.todo-modal .todo-modal-buttons button{
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    width: 80px;
    padding: 8px 10px;
}

/* View Todo */

#view-todo-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid var(--theme-color);
    width: 400px;
}

#view-todo-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#view-todo-data > div:not(:last-child) {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 20px;
}

#view-todo-title p,
#view-todo-description p {
    max-width: 70%;
    text-align: end;
}

#view-todo-close {
    text-align: center;
}

#view-todo-close button {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}